<section class="section section--dark">
    <div class="container">
        <div class="grid grid-2 gap-md">
            <div class="mv-card">
                <div class="icon icon--lg" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 21v-4m0 0V5a2 2 0 012-2h6.5l1 1H21l-3 6 3 6h-8.5l-1-1H5a2 2 0 00-2 2z" />
                    </svg>
                </div>
                <h3>Misión</h3>
                <p>Aportar en el desarrollo integral e inclusivo de las personas y los trabajadores para su correcta integración y permanencia en el mercado laboral, mediante la entrega y desarrollo de competencias técnicas y/o habilidades transversales.</p>
            </div>
            <div class="mv-card">
                <div class="icon icon--lg" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon-svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                </div>
                <h3>Visión</h3>
                <p>Ser reconocidos como un organismo de capacitación líder, comprometido con la excelencia educativa y el desarrollo sostenible, facilitando la inserción laboral y el crecimiento profesional de miles de personas.</p>
            </div>
        </div>
    </div>
</section>